.DS_Store

build/
tmp/

/*.pdf
/*.PDF
/*.dwg
/*.jpg
/*.png

!/.gitignore
!/README.md
!/Makefile
!/Core/
!/docs/
!/linker/
!/startup/
!/tools/
!/.stm32cube_c0/

.stm32cube_c0/.git
.stm32cube_c0/.git/**
.stm32cube_c0/.github/
.stm32cube_c0/Documentations/
.stm32cube_c0/Middlewares/
.stm32cube_c0/Projects/
.stm32cube_c0/Utilities/
.stm32cube_c0/_htmresc/
.stm32cube_c0/CODE_OF_CONDUCT.md
.stm32cube_c0/CONTRIBUTING.md
.stm32cube_c0/README.md
.stm32cube_c0/Release_Notes.html
.stm32cube_c0/SECURITY.md
.stm32cube_c0/package.xml
.stm32cube_c0/.gitmodules


logs/
